# AWS Configuration
AWS_REGION=us-east-1

# DynamoDB Table Names
PRODUCTS_TABLE_NAME=Tabla_Productos
ORDERS_TABLE_NAME=Tabla_Ordenes

# Lambda Function Name
LAMBDA_FUNCTION_NAME=Lambda_Checkout

# Server Port
PORT=3000
